{% extends 'base.html' %}

{% block title %}REFORME / The global energy simulator{% endblock %}

{% block content %}


	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "imr/css/vizstyle.css" %}"/>
	<script src="{% static "imr/js/jquery.js" %}"></script>
    <script src="{% static "imr/js/jquery-ui-1.8.24.custom.min.js" %}"></script>
    <script src="{% static "imr/js/d3.v3.min.js" %}"></script>
    <script src="{% static "imr/js/d3-bootstrap-plugins.min.js" %}"></script>
    <script src="{% static "imr/js/data.js" %}"></script>

	<br/>

	<div id="controls">
    <div id="years">
      <div id="years-cont">
      </div>
    </div>
    <div id="buttons">
      <a class ="but" href="#" onclick="expandAll()">Expand all</a>
      <a class ="but" href="#" onclick="mergeAll()">Merge all</a>
      <a  class ="but" href="#" onclick="showLegend()">Show legend</a>
    </div>
  </div>
  <div id="title">
  	<h2>Energy flows between spaces</h2> <img style="display:none" class="legend-img" src="{% static "imr/img/legend.png" %}" />
  </div>

<div id="viz">
</div>


<script>

var ctop = $("#controls").offset().top;

    $(document).scroll(function() {
        if($(document).scrollTop()>ctop) $('#controls').css('top', $(this).scrollTop()-ctop+10);
        else $('#controls').css('top',0);
    });



var width=1200;
var height=1250;
var playintvl;
var svg = d3.select("#viz")
        .append("svg")
        .attr("width", width)
        .attr("height", height);


a=d3.values(data);
merged=[];
merged = merged.concat.apply(merged, a);
var nested_data = d3.nest()
.key(function(d) { return d.name; })
.entries(merged);

var chartstocklerp = d3.scale.linear().range([0,80]);
var stocks;
computeAllStocks();

function abbreviateNumber(value) {
    var newValue = value;
    if (value >= 1000) {
        var suffixes = ["", "k", "m", "b","t"];
        var suffixNum = Math.floor( (""+value).length/3 );
        var shortValue = '';
        for (var precision = 2; precision >= 1; precision--) {
            shortValue = parseFloat( (suffixNum != 0 ? (value / Math.pow(1000,suffixNum) ) : value).toPrecision(precision));
            var dotLessShortValue = (shortValue + '').replace(/[^a-zA-Z 0-9]+/g,'');
            if (dotLessShortValue.length <= 2) { break; }
        }
        if (shortValue % 1 != 0)  shortNum = shortValue.toFixed(1);
        newValue = shortValue+suffixes[suffixNum];
    }
    return newValue;
}


function findPopulationBounds(s) {

	space = $.grep(nested_data,function(d){return d.key == s})[0];
	spaceVals = space.values;
	max=d3.max(spaceVals,function(d){return d.population});
	min=d3.min(spaceVals,function(d){return d.population});
	res=[min, max];
	return res;
}

function findStockBounds(s) {

	space = $.grep(nested_data,function(d){return d.key == s})[0];
	spaceVals = space.values;
	max=d3.max(spaceVals,function(d){return d.stock});
	min=d3.min(spaceVals,function(d){return d.stock});
	res=[max, min];
	return res;
}

//findPopulationBounds("world");

fillYears();
var rad=100,
defsiz=240,
defy=290,
year=2000,
sunx=consx=width/2,
suny=62;
consy=600;
charty=700;

var curyear=d3.keys(data)[0];
$(".y"+curyear).addClass("active");

var currData=JSON.parse(JSON.stringify(data[curyear]));

var sunlerp = d3.scale.linear().range([1, 30]);
var surflerp = d3.scale.linear().range([0.01,6.28]);
var stocklerp = d3.scale.linear().range([0.01,6.28]);
var stockfilllerp = d3.scale.linear().range([20,5]);
var exlerp = d3.scale.linear().range([1,20]);
var poplerp = d3.scale.linear().range([5,19]);


var totpop=0;
var totstock=0;
var netExchanges=[];
var suncolor='#f7a95b'
var excolor='#a84940'
var conscolor = "#8ba5b2"
//var conscolor='#95A1A5'
var popcolor = '#99ba87'
//var popcolor = '#789c72'
var sunfill = "#ffffff"
var stockcolor= "rgb(124, 108, 97)"

exc=svg.append("g")
.attr("class","netexchanges");


regions=svg.append("g")
.attr("class","regions");

exchanges=svg.append("g")
.attr("class","exchanges");


lines=svg.append("g")
.attr("class","lines");

svg
.append("circle")
.attr("class","sunball")
.style("stroke",suncolor)
.style("stroke-width","3")
.style("fill",sunfill)
.style("stroke-dasharray",("5 3"))
.attr("r",rad*3/5)
.attr("cx",width/2-5)
.attr("cy",suny)

svg
.append("text")
.attr("class","sun")
.attr("text-anchor", "middle")
.attr("x", width/2-5)
.attr("y", suny+5)
.attr("font-size", "1.3em")
.text("SUN")
.attr("fill", "gray");


function computeSpaces() {

	totstock=0;
	totpop=0;

	num=currData.length;
	totsiz=defsiz*num;
	oversiz=width-totsiz;
	start=oversiz/2;

	maxex=0;

	for(i =0; i<num; i++) {


		popBounds=findPopulationBounds(currData[i].name)
		stockBounds=findStockBounds(currData[i].name)
		poplerp.domain(popBounds);
		stockfilllerp.domain(stockBounds);
		totpop=totpop+currData[i].surface
		totstock=totstock+currData[i].stock
		curmax=d3.max(d3.values(currData[i].exchanges))
		if(curmax>maxex) maxex=curmax;
		s=start+defsiz*i;
		currData[i].num=i;
		currData[i].ins=[];
		currData[i].outs=[];
		currData[i].x=start+defsiz*i+defsiz/2;
		currData[i].y=defy;
		currData[i].comp_pop=poplerp(currData[i].population);
		currData[i].comp_stock=stockfilllerp(currData[i].stock);

	}
	surflerp.domain([1,totpop]);
	stocklerp.domain([0,totstock]);
	exlerp.domain([0,maxex]);
	sunlerp.domain([1, d3.max(currData, function(d) { return d.demand; })]);

	for(i =0; i<num; i++) {


		currData[i].leTotOffer=sunlerp(currData[i].offer)
		currData[i].leDemand=sunlerp(currData[i].demand)
		currData[i].leYeld=sunlerp(currData[i].offer)
		currData[i].leOffer=sunlerp(currData[i].offer)
	}
}


function initialize() {

d3.selectAll(".exchange").remove();
d3.selectAll(".divline").remove();
d3.selectAll(".chart").remove();
d3.selectAll(".section").remove();
d3.selectAll(".gen-text").remove();
d3.selectAll(".netexchanges").empty();
d3.selectAll(".legend").remove();

netExchanges=[];

var re=regions.selectAll("g.region").data(currData,function(d){return d.name})
var li=lines.selectAll("line").data(currData,function(d){return d.name})

computeSpaces()

//CREATE REGIONS
re.enter()
.append("g")
.attr("class",function(d){return "region "+d.name});

re.exit().remove()

//CREATE LINES

li.enter()
.append("line")
.filter(function(d, i) { return i >0 })
.attr("x1",function(d) {return parseInt(d.x-defsiz/2)})
.attr("y1",20)
.attr("x2",function(d) {return d.x-defsiz/2})
.attr("y2",height)
.style("stroke", "#ccc")
.attr("class","divline")
.style("stroke-width", 1)
.style("stroke-dasharray", ("3, 3"))



//CREATE YELD LINES

re
.append("path")
.style("stroke", suncolor)
.attr("fill","none")
.attr("class",function(d) {return "yeld "+d.name});

re.selectAll("path.yeld")
.transition()
.style("stroke-width", function(d){return d.leYeld})
.attr("d",function(d) {return createYeldLine(d)});

re.selectAll("path.yeld")
.tooltip(function(d){
    console.log(d.x,d.y);
    return {
      //The text within the tooltip
      type:"tooltip",
      gravity:"north",
      text: "<b>"+d.name.replace(/_/g, ' ')+"</b><br/>Density of offer",
      detection: "shape",
      //Where
      placement: "fixed",
      // Base positioning. Not used when placement is "mouse"
      position: [d.x,d.y-270],
      //How far the tooltip is shifted from the base
      displacement: [-75,0], //Shifting parts of the graph over.
      //If "mouse"" is the base poistion, then mousemove true allows
      //the tooltip to move with the mouse
      mousemove: false
    };
});


re
.append("path")
.style("stroke", conscolor)
.attr("fill","none")
.attr("class",function(d) {return "consumption "+d.name});

re.selectAll("path.consumption")
.transition()
.style("stroke-width", function(d){return d.leDemand})

.attr("d",function(d) {return createConsLine(d)});

re.selectAll("path.consumption")
.tooltip(function(d){
    console.log(d.x,d.y);
    return {
      //The text within the tooltip
      type:"tooltip",
      gravity:"north",
      text: "<b>"+d.name.replace(/_/g, ' ')+"</b><br/>Density of demand",
      detection: "shape",
      //Where
      placement: "fixed",
      // Base positioning. Not used when placement is "mouse"
      position: [d.x,d.y-270],
      //How far the tooltip is shifted from the base
      displacement: [-75,0], //Shifting parts of the graph over.
      //If "mouse"" is the base poistion, then mousemove true allows
      //the tooltip to move with the mouse
      mousemove: false
    };
});

//CREATE EXCHANGES
d3.selectAll(".region")
.each(function(e){createExchanges(e)});

//CREATE CIRCLES



re
.append("circle")
.attr("class",function(d) {return "item "+d.name})
.style("stroke","gray")
.style("stroke-width","2")
.style("fill","white")
.attr("title","asd")
.attr("r",rad)
.on("click",function(d) {
	if(d.grouped && d.grouped.length>0) {
		expand(d);
	}

	else if(d.num>0) {
		merge(d);
	}
})

re.selectAll("circle.item")
.transition()
.attr("cx",function(d){return d.x})
.attr("cy",function(d){return d.y})


re.append("circle")
.attr("class",function(d) {return "popline "+d.name})
.style("stroke",popcolor)
.style("stroke-width","0.5")
.style("fill","none")
.style("opacity",0.5)
.attr("r",rad*3/4);

re.selectAll("circle.popline")
.transition()
.attr("cx",function(d){return d.x})
.attr("cy",function(d){return d.y});

re.append("circle")
.attr("class",function(d) {return "stockline "+d.name})
.style("stroke","gray")
.style("stroke-width","0.5")
.style("fill","none")
.style("opacity",0.5)
.attr("r",rad*2/4);

re.selectAll("circle.stockline")
.transition()
.attr("cx",function(d){return d.x})
.attr("cy",function(d){return d.y});

arc = d3.svg.arc()
.innerRadius(rad*3/4)
.outerRadius(function(d){return rad*3/4+d.comp_pop})
.startAngle(function(d){
	if(d.name==="world") return (-surflerp(d.surface)/2-Math.PI/2);
	else return (-surflerp(d.surface)/2+Math.PI/2)
	})
.endAngle(function(d){
	if(d.name==="world") return (surflerp(d.surface)/2-Math.PI/2);
	else return (surflerp(d.surface)/2+Math.PI/2)
	});


arc2 = d3.svg.arc()
.outerRadius(function(d){return rad*2/4+d.comp_stock})
.innerRadius(rad*2/4-1)
.startAngle(function(d){
	if(d.name==="world") return -stocklerp(d.stock)/2-Math.PI/2;
	else return -stocklerp(d.stock)/2+Math.PI/2;
	})
.endAngle(function(d){
	if(d.name==="world") return stocklerp(d.stock)/2-Math.PI/2;
	else return stocklerp(d.stock)/2+Math.PI/2;
	});


//CREATE PIES
re.append("path")
.attr("class",function(d) {return "surface "+d.name})
.style("fill",popcolor);

re.selectAll("path.surface")
.attr("d", arc)
.attr("transform", function(d){return "translate("+d.x+","+d.y+")"});

re.selectAll("path.surface")
.tooltip(function(d){
    console.log(d.x,d.y);
    return {
      //The text within the tooltip
      type:"tooltip",
      gravity:"north",
      text: "<b>"+d.name.replace(/_/g, ' ')+"</b><br/>Population: "+d.surface,
      detection: "shape",
      //Where
      placement: "fixed",
      // Base positioning. Not used when placement is "mouse"
      position: [d.x,d.y],
      //How far the tooltip is shifted from the base
      displacement: [70,-50], //Shifting parts of the graph over.
      //If "mouse"" is the base poistion, then mousemove true allows
      //the tooltip to move with the mouse
      mousemove: false
    };
});

re.append("path")
.attr("class",function(d) {return "stock "+d.name})
.style("fill",stockcolor);

re.selectAll("path.stock")
.attr("d", arc2)
.attr("transform", function(d){return "translate("+d.x+","+d.y+")"});

re.selectAll("path.stock")
.tooltip(function(d){
    console.log(d.x,d.y);
    return {
      //The text within the tooltip
      type:"tooltip",
      gravity:"north",
      text: "<b>"+d.name.replace(/_/g, ' ')+"</b><br/>Stock: "+d.stock,
      detection: "shape",
      //Where
      placement: "fixed",
      // Base positioning. Not used when placement is "mouse"
      position: [d.x,d.y],
      //How far the tooltip is shifted from the base
      displacement: [20,-50], //Shifting parts of the graph over.
      //If "mouse"" is the base poistion, then mousemove true allows
      //the tooltip to move with the mouse
      mousemove: false
    };
});
//ADD TEXT
re
.append("text")
.attr("class","space-name")
.attr("text-anchor", "middle")
.attr("y", function(d){return d.y-10})
.attr("font-size", "10px")
.attr("fill", "gray");

d3.selectAll("text.space-name")
.attr("x", function(d) { return d.x })
.text( function (d) { return d.name.replace(/_/g," ")})

re
.append("text")
.attr("class","space-pop")
.attr("text-anchor", "middle")
.attr("y", function(d){return d.y+5})
.attr("font-size", "10px")
.attr("fill", "gray");

d3.selectAll("text.space-pop")
.attr("x", function(d) { return d.x })
.text( function (d) {return abbreviateNumber(d.population)+" population"})

re
.append("text")
.attr("class","space-stock")
.attr("text-anchor", "middle")
.attr("y",function(d){return d.y+20})
.attr("font-size", "10px")
.attr("fill", "gray");

d3.selectAll("text.space-stock")
.attr("x", function(d) { return d.x })
.text( function (d) { return abbreviateNumber(d.stock)+" stock"})


re
.append("text")
.attr("class","space-yield")
.attr("text-anchor", "middle")
.attr("y",function(d){return consy+60})
.attr("font-size", "14px")
.attr("fill", suncolor);



d3.selectAll("text.space-yield")
.attr("x", function(d) { return d.x })
.text( function (d) { return "Solar yield: "+d.yeld+"%"})

re.exit().remove()



svg.append("text")
.attr("x",width/2)
.attr("y", consy+20)
.attr("text-anchor", "middle")
.style("fill","gray")
.attr("class","gen-text")
.attr("font-size", "12px")
.text("Global consumption")

createCharts();
createSections();

//createFluxes();


}

function createSunLine(d) {
      var x0 = sunx+d.leOffer/2*(d.num-(num/2)),
          x1 = d.x+d.leOffer/2+3,
          y0 = suny,
          y1 = d.y,
          yi = d3.interpolateNumber(y0, y1/3),
          y2 = yi(.2),
          y3 = yi(1 - .2);


         return "M" + x0 + "," + y0
           + "C" + x0 + "," + y2
           + " " + x1 + "," + y3
           + " " + x1 + "," + (y1-70)
           + "L" + x1 + "," + y1;
	}

function createYeldLine(d) {
    	  var x0 = sunx+d.leYeld/2*(d.num-(num/2)),
          x1 = d.x,
          y0 = suny,
          y1 = d.y,
          yi = d3.interpolateNumber(y0, y1/2),
          y2 = yi(.5),
          y3 = yi(1 - .5);

    	return "M" + x0 + "," + y0
           + "C" + x0 + "," + y2
           + " " + x1 + "," + y3
           + " " + x1 + "," + (y1-70)
           + "L" + x1 + "," + y1;

    }

function createConsLine(d) {
		var x0;
		 if(d.num<num) x0 = consx+d.leDemand/2*(d.num-(num/2.5))
		 else if(d.num<num) x0 = consx+d.leDemand/2*(d.num-(num/2.5))
		 else x0 = consx;
          var  x1= d.x,

          y1 = d.y+100,
          y0 = consy,
          xi = d3.interpolateNumber(x0, x1/2),
          yi = d3.interpolateNumber(y0, y1),
          y2 = yi(.5),
          x2= xi(.5)

    	return "M" + x0 + "," + y0
    	  // + "L"	+ xs + "," +ys
           + "C" + x0 + "," + y2
           + " " + x1 + "," + y2
           + " " + x1 + "," + y1
           + "L" + x1 + "," + (y1-70);

    }


function createExchanges(d) {

	d3.keys(d.exchanges).forEach(function(e,i,a) {
        b=$.grep(currData,function(r){return r.name==e});
		if(b.length>0) {
            b=b[0];
			console.log(b);
			if(d.exchanges[e]>b.exchanges[d.name]) {
				d.outs.push({"to":b.name,"value":exlerp(d.exchanges[e]-b.exchanges[d.name])})
				b.ins.push({"from":d.name,"value":exlerp(d.exchanges[e]-b.exchanges[d.name])})
				exchanges
				.append("path")
				.attr("class", "exchange "+d.name+" "+b.name)
				.style("stroke", excolor)
				.style("opacity","0.6")
		        .style("stroke-width", sunlerp(d.exchanges[e]-b.exchanges[d.name]))
		        .attr("fill","none")
		        .attr("d",dirlink(d.x,d.y,b["x"],b["y"],Math.abs(d.num-i)))
		        .attr("marker-end","url(#pointer2)");

                d3.select(".exchange."+d.name+"."+b.name).tooltip(function(){

                    return {
                      //The text within the tooltip
                      type:"tooltip",
                      gravity:"north",
                      text: "<b>Net exchange "+d.name.replace(/_/g, ' ')+" - "+b.name.replace(/_/g, ' ')+"</b><br/>Value: "+sunlerp(d.exchanges[e]-b.exchanges[d.name]),
                      detection: "shape",
                      //Where
                      placement: "fixed",
                      // Base positioning. Not used when placement is "mouse"
                      position: [d.x+(b.x-d.x)/2,d.y+80],
                      //How far the tooltip is shifted from the base
                      displacement: [-90,0], //Shifting parts of the graph over.
                      //If "mouse"" is the base poistion, then mousemove true allows
                      //the tooltip to move with the mouse
                      mousemove: false
                    };
                });


                netExchanges.push({"source":d.name,"target":b.name,"value":sunlerp(d.exchanges[e]-b.exchanges[d.name])});

			}
		}
	});
}


function dirlink(ax,ay,bx,by,i) {

      var x0 = ax+rad-30,
          x1 = bx-(rad+20)*0.86,
          y0 = ay+rad-30,
          y1 = by+(rad+20)*0.5,
          xi = d3.interpolateNumber(x0, x1),
          x2 = xi(.5);


      return "M" + x0 + "," + y0
           + "Q" + x2 + "," + parseInt(y0+(x1-x0)*(0.4-i*0.05))
           + " " + x1 + "," + y1;
    }


    function merge(d) {
    	console.log("called merge on ",d);
    	currData[d.num-1].population += d.population;
    	currData[d.num-1].stock += d.stock;
    	currData[d.num-1].offer += d.offer;
    	currData[d.num-1].demand += d.demand;
    	if (!currData[d.num-1].grouped) currData[d.num-1].grouped=[d.name];
    	else currData[d.num-1].grouped.push(d.name);
    	currData.splice(d.num,1);
    	initialize();
    	removeDuplicates(null);
    	console.log("merged "+d.name);

    }

    function removeDuplicates(a) {

    	if(a) {
    	arr=$.makeArray($(".region").not("."+a))
    	}
    	else arr=$.makeArray($(".region"))

    	arr.forEach(function(e){

	    	$(e).find(".sun").first().remove();
	    	$(e).find(".yeld").first().remove();
	    	$(e).find(".consumption").first().remove();
	    	$(e).find(".reflect").first().remove();
	    	$(e).find(".item").first().remove();
	    	$(e).find(".surface").first().remove();
	    	$(e).find(".stock").first().remove();
	    	$(e).find(".space-name").first().remove();
	    	$(e).find(".space-pop").first().remove();
	    	$(e).find(".space-stock").first().remove();
	    	$(e).find(".stockline").first().remove();
	    	$(e).find(".popline").first().remove();
    	})
    }

    function expand(d) {
    	console.log("called expand")
    	obj=$.grep(data[curyear], function(f){ return f.name == d.grouped[0]; });
    	obj=obj[0];

    	d.grouped.splice(0,1);
    	newgroup=d.grouped;

    	if(newgroup.length>1) {
    		newgroup.forEach(function(e) {
    			console.log("e",e)
    			console.log(data[curyear])
    			a=$.grep(data[curyear], function(f){ return f.name == e; })[0];
    			console.log("a",a)
    			console.log("subtracting "+a.name+" to "+obj.name)
    			obj.population += a.population;
		    	obj.stock += a.stock;
		    	obj.offer += a.offer;
		    	obj.demand += a.demand;
    		})
    	}
    	d.population -= obj.population;
		d.stock -= obj.stock;
		d.offer -= obj.offer;
		d.demand -= obj.demand;
    	obj.grouped=newgroup;
    	d.grouped=[];
    	currData.splice(d.num+1,0,obj);
    	initialize();
    	removeDuplicates(obj.name);
    	console.log("expanded "+obj.name)
    }

    function expandAll() {
    	currData=JSON.parse(JSON.stringify(data[curyear]));

		$(".region").remove();
    	initialize();
    }

    function mergeAll() {
    	while(currData.length>1) {
    		merge(currData[1]);
    	}
    }

    function changeYear(i, clear) {
        if(clear) clearInterval(playintvl);
    	if(i!=curyear) {
    		$(".active").removeClass("active");
    		$(".y"+i).addClass("active");
    		toShrink=[]
	    	newData=JSON.parse(JSON.stringify(data[i]));

	    	currData.forEach(function(e){
	    		if(e.grouped && e.grouped.length>0) {
	    			e.grouped.forEach(function(r){
	    				toShrink.push(r);
	    			})
	    		}
	    	})
            curyear=i;
	    	currData=newData;
	    	$(".region").remove();
	    	initialize();

            $('#controls').css('top',0);

	    	toShrink.forEach(function(e){

	    		ts=$.grep(currData, function(f){ return f.name == e })[0];
	    		console.log("ts",ts)
	    		merge(ts);
	    	})
	    }

    }


    function timeplay() {

      var yrs = d3.keys(data);
      var i = 0;
      changeYear(yrs[i]);
        i++;

      playintvl = setInterval(function(){
        if(i==yrs.length) i=0;
            changeYear(yrs[i],false);
        i++;
        },2000);

    }

    function fillYears() {
	d3.keys(data).forEach(function(e){
		$("#years-cont").append('<a class="but y'+e+'" href="#" onclick="changeYear('+e+',true)">'+e+'</a>')
	})
  $("#years-cont").append('<a class="but play" href="#" onclick="timeplay()"><span class="glyphicon glyphicon-play"></span></a>')

}

initialize()


//============================================================================
// SECTION 2 - LINE GRAPHS
//============================================================================


function createCharts() {



charty=1000

svg
	.append("text")
	.attr("class","title gen-text")
	.attr("y", charty+40)
	.text("Trends")


//Data by countries
var years=d3.map(data).keys()
var lines={};
var xlerp = d3.scale.linear().range([30, 210]);
var plerp = d3.scale.linear().range([60,1]);
var dlerp = d3.scale.linear().range([50,15]);
var nlerp = d3.scale.linear().range([60,1]);
var xAxis = d3.svg.axis();
var formatxAxis = d3.format('.0f');
xAxis
.scale(xlerp)
.ticks(5)
.tickFormat(formatxAxis)

years.forEach(function(year) {

	k=d3.values(data[year]);

	k.forEach(function(ob) {

		ob.year=year
		if(!lines[ob.name]) lines[ob.name]=[]
		lines[ob.name].push(ob);
	})
});

//LEGEND
legend=svg.append("g")
.attr("class","legend")
.attr("transform","translate("+(width-150)+",5)")

legend.append("line")
.attr("x1",0)
.attr("y1",charty+20)
.attr("x2",10)
.attr("y2",charty+20)
.style("stroke",popcolor)
.style("stroke-width",3)

legend.append("text")
.attr("x",15)
.attr("y",charty+25)
.style("fill","gray")
.text("Population")

legend.append("line")
.attr("x1",0)
.attr("y1",charty+35)
.attr("x2",10)
.attr("y2",charty+35)
.style("stroke",conscolor)
.style("stroke-width",3)

legend.append("text")
.attr("x",15)
.attr("y",charty+40)
.style("fill","gray")
.text("Demand per person")

legend.append("line")
.attr("x1",0)
.attr("y1",charty+50)
.attr("x2",10)
.attr("y2",charty+50)
.style("stroke",suncolor)
.style("stroke-width",3)

legend.append("text")
.attr("x",15)
.attr("y",charty+55)
.style("fill","gray")
.text("Solar yield")


var valueline1 = d3.svg.line()
.interpolate("basis")
.x(function(d) { return xlerp(d.year); })
.y(function(d) { return plerp(d.population); });

var valueline2 = d3.svg.line()
.interpolate("basis")
.x(function(d) { return xlerp(d.year) })
.y(function(d) { return dlerp(d.demand) });

var valueline3 = d3.svg.line()
.interpolate("basis")
.x(function(d) { return xlerp(d.year); })
.y(function(d) { return nlerp(d.yeld); });

svg.append("line")
.attr("x1",0)
.attr("y1",charty)
.attr("x2",width)
.attr("y2",charty)
.style("stroke","gray")
.style("stroke-width",0.5);


d3.selectAll(".region").each(function(d){


		chart=d3.select(this)
		.append("g")
		.attr("class","chart")
		.attr("transform", function(){console.log(d,d.x);return "translate("+(d.x-defsiz/2)+","+(charty+90)+")"});

		maxpop=d3.max(lines[d.name],function(e){return e.population})
		minpop=d3.min(lines[d.name],function(e){return e.population})
		minyeld=d3.min(lines[d.name],function(e){return e.yeld})
		maxyeld=d3.max(lines[d.name],function(e){return e.yeld})
		mindem=d3.min(lines[d.name],function(e){return e.demand})
		maxdem=d3.max(lines[d.name],function(e){return e.demand})

		maxyear=d3.max(lines[d.name],function(e){return e.year})
		minyear=d3.min(lines[d.name],function(e){return e.year})

		//xAxis.tickValues([minyear, maxyear]);

		plerp.domain([minpop,maxpop]);
		dlerp.domain([mindem,maxdem]);
		nlerp.domain([minyeld,maxyeld]);
		xlerp.domain([minyear,maxyear]);

		chart.append("path")      // Add the valueline2 path.
        .attr("class", "valueline "+d.name)
        .style("stroke",popcolor)
        .style("stroke-width",3)
        .style("fill","none")
        .attr("d", valueline1(lines[d.name]))

        chart.append("path")      // Add the valueline2 path.
        .attr("class", "valueline "+d.name)
        .style("stroke",conscolor)
        .style("stroke-width",3)
        .style("fill","none")
        .attr("d", valueline2(lines[d.name]));

        chart.append("path")      // Add the valueline2 path.
        .attr("class", "valueline "+d.name)
        .style("stroke",suncolor)
        .style("stroke-width",3)
        .style("fill","none")
        .attr("d", valueline3(lines[d.name]));

        chart
        .append("text")
        .attr("class","trend-name")
        .attr("text-anchor", "middle")
        .attr('x',defsiz/2)
        .attr("y", 120)
        .attr("font-size", "10px")
        .attr("fill", "gray")
        .text(function(d){return d.name});

		chart.append("g")
		.attr("class", "axis")
		.call(xAxis)
		.attr("transform", "translate(0," + 62 + ")")

})

}


//=====================================================================
// SECTIONS
//=====================================================================

function createSections() {

	secy = 790;

	svg.append("line")
	.attr("x1",0)
	.attr("y1",secy-100)
	.attr("x2",width)
	.attr("y2",secy-100)
	.style("stroke","gray")
	.style("stroke-width",0.5);


	svg
	.append("text")
	.attr("class","title gen-text")
	.attr("y", secy-60)
	.text("Ins and outs")

	d3.selectAll(".region").each(function(d){

        flux=d3.select(this)
        .append("g")
        .attr("class",function(e){return "section "+d.name})


		flux
		.append("line")
		.style("stroke", suncolor)
		.attr("class",function(d) {return "yield-sect "+d.name})
		.attr("marker-end","url(#pointer)");

		flux.selectAll("line.yield-sect")
		.transition()
		.style("stroke-width", function(d){return d.leYeld})
		.attr("x1",  function(d){return d.x-defsiz/3.5})
		.attr("y1",  function(d){return secy})
		//.attr("x2",  function(d){return d.x+d.leOffer/2+d.leOffer*2.77})
		.attr("x2",  function(d){return d.x-30})
		//.attr("y2",  function(d){return d.y-70+d.leOffer/3-d.leOffer*2.77})
		.attr("y2",  function(d){return secy+35})



      	flux
		.append("circle")
		.attr("class",function(d) {return "sect-sun "+d.name})
		.style("stroke",suncolor)
		.style("stroke-width","3")
		.style("fill",sunfill)
		.style("stroke-dasharray","5 3")
		.attr("r",15)
		.attr("cx",d.x-defsiz/3.5)
		.attr("cy",secy)


    	 flux
	.append("line")
	.attr("class",function(d) {return "sec-consumption "+d.name})
	.style("stroke", conscolor)
	.attr("marker-end","url(#pointer5)");

	flux.selectAll("line.sec-consumption")
	.transition()
	.style("stroke-width",  function(d){return d.leDemand})
	.attr("x1",  function(d){return d.x+20})
	.attr("y1",  function(d){return secy+40})
	.attr("x2",  function(d){return d.x+60})
	.attr("y2",  function(d){return secy})

       flux.append("svg:image")
   .attr('x',function(d){return d.x-90})
   .attr('y',secy)
   .attr('width', 180)
   .attr('height', 80)
   .attr("xlink:href","{% static 'imr/img/' %}"+curyear+".png")

   flux.append("rect")
   .attr('x',function(d){return d.x-75})
   .attr('y',secy+82)
    .attr("width", 150)
    .attr("height", 80)
    .style("fill", "#ededed");


   flux.append("rect")
   .attr('x',function(d){return d.x-75})
   .attr('y',secy+82)
    .attr("width", 150)
    .attr("height", function(d){
    	a=stocks.filter(function(e){return e.name==d.name})[0]
    	chartstocklerp.domain([0, a.maxstock])
    	return chartstocklerp(d.stock)})
    .style("fill", "url(#gradient)");


    stockUsage = d.leDemand-d.leYeld


    if(d.stock>=1) {


    flux.append("path")
    .style("fill",  stockcolor)
	.attr("class","in "+d.name)
	//.attr("opacity",0.6)
	.attr("d",function(d){

		p1=(d.x-stockUsage/2)+","+(secy+82)
                p2=(d.x)+","+(secy+62)
		p3=(d.x+stockUsage/2)+","+(secy+82)

		return "M"+p1+"L"+p2+"L"+p3+"Z"})
    }
        flux
            .append("text")
            .attr("class","sect-name")
            .attr("text-anchor", "middle")
            .attr('x',function(d){return d.x})
            .attr("y", function(d){return secy+190})
            .attr("font-size", "10px")
            .attr("fill", "gray")
            .text(function(d){return d.name});


    var totVal=0;
		d.ins.forEach(function(c,i) {

			totVal+=c.value
			//gap+=secy+80+c.value*0.7;

		})

		flux.append("line")
			.style("stroke-width",  totVal)
			.attr("class","in "+d.name)
			.attr("x1",d.x-80)
			.attr("opacity",0.6)
			.attr("y1",secy+80+totVal/2)
			.attr("x2",d.x-defsiz/2.3)
			.attr("y2",secy+80+totVal/2)
			.style("stroke", excolor)

				flux.append("path")
			.style("fill",  excolor)
			.attr("class","in "+d.name)
			.attr("opacity",0.6)
			.attr("d",function(d){

			p1=(d.x-defsiz/2.3+0.5)+","+(secy+80)
			p2=(d.x-defsiz/2.3-10)+","+(secy+80)
			p3=(d.x-defsiz/2.3-5)+","+(secy+80+totVal/2)
			p4=(d.x-defsiz/2.3-10)+","+(secy+80+totVal)
			p5=(d.x-defsiz/2.3+0.5)+","+(secy+80+totVal)

			return "M"+p1+"L"+p2+"L"+p3+"L"+p4+"L"+p5+"Z"})

		totVal=0;

		d.outs.forEach(function(c,i) {

			totVal+=c.value;

		})

		flux.append("line")
		.style("stroke-width",  totVal)
		.attr("class","out "+d.name)
		.attr("opacity",0.6)
		.attr("x1",d.x+80)
		.attr("y1",secy+80+totVal/2)
		.attr("x2",d.x+defsiz/2.3)
		.attr("y2",secy+80+totVal/2)
		.style("stroke", excolor)

		flux.append("path")
		.style("fill",  excolor)
		.attr("class","in "+d.name)
		.attr("opacity",0.6)
		.attr("d",function(d){

		p1=(d.x+defsiz/2.3-0.5)+","+(secy+80)
		p2=(d.x+defsiz/2.3+10)+","+(secy+80+totVal/2)
		p3=(d.x+defsiz/2.3-0.5)+","+(secy+80+totVal)

		return "M"+p1+"L"+p2+"L"+p3+"Z"})
      })

	}


    function dirlink3(ax,ay,bx,by,i) {

      var x0 = ax,
          x1 = bx,
          y0 = ay,
          y1 = by,
          yi = d3.interpolateNumber(y0, y1),
          y2 = yi(.5);


      return "M" + x0 + "," + y0
           + "Q" + parseInt(x0+(y1-y0)) + "," + y1
           + " " + x1 + "," + y1;

    }

    function dirlink2(ax,ay,bx,by,i) {

      var x0 = ax,
          x1 = bx,
          y0 = ay,
          y1 = by,
          xi = d3.interpolateNumber(x0, x1),
          x2 = xi(.5);


      return "M" + x0 + "," + y0
           + "C" + x2 + "," + parseInt(y0+(x1-x0)*(0.5-i*0.05))
           + " " + (x1-60) + "," + y1
           + " " + x1 + "," + y1;
    }

    function createExchangeLine(e,h) {

        source=$.grep(currData,function(r){return r.name==e.source})[0]
        target=$.grep(currData,function(r){return r.name==e.target})[0]
        var x0 = source.x-70,
          x1 = target.x-70,
          y0 = 750+h,
          y1 = 750+h,
          xi = d3.interpolateNumber(x0, x1),
          x2 = xi(.7);

      return "M" + x0 + "," + y0
           + "Q" + x2 + "," + y1
           + " " + x1 + "," + y1;
    }

    function createOfferLine(d) {

        var x0 = d.x-defsiz/2+30,
          x1 = d.x,
          y0 = 630,
          y1 = 660+d.leYeld/6,
          xi = d3.interpolateNumber(x0, x1),
          x2 = xi(.5);

      return "M" + x0 + "," + y0
           + "Q" + x2 + "," + y1
           + " " + x1 + "," + y1;

    }

    function createDemandLine(d) {

        var x1 = d.x+defsiz/2-30,
          x0 = d.x,
          y1 = 630,
          y0 = 660+d.leDemand/2,
          xi = d3.interpolateNumber(x0, x1),
          x2 = xi(.5);

      return "M" + x0 + "," + y0
           + "Q" + x2 + "," + y0
           + " " + x1 + "," + y1;

    }


defs=svg.append("svg:defs")
    defs.append("svg:marker")
    .attr("id", "pointer")
    .attr("viewBox", "0 -5 10 10")
    .style("fill","#C06446")
    .attr("refX", 0.2)
    .attr("refY", 0)
    .attr("markerWidth", 1)
    .attr("markerHeight", 3)
    .attr("orient", "auto")
  .append("svg:path")
    .attr("d", "M0,-5L10,0L0,5");

defs.append("svg:marker")
    .attr("id", "pointer2")
    .attr("viewBox", "0 -5 10 10")
    .style("fill",excolor)
    .attr("refX", 0.2)
    .attr("refY", 0)
    .attr("markerWidth", 1)
    .attr("markerHeight", 3)
    .attr("orient", "auto")
  .append("svg:path")
    .attr("d", "M0,-5L10,0L0,5");

    defs.append("svg:marker")
    .attr("id", "pointer3")
    .attr("viewBox", "0 -5 10 10")
    .style("fill","#e2e2e2")
    .attr("refX", 0.2)
    .attr("refY", 0)
    .attr("markerWidth", 1)
    .attr("markerHeight", 3)
    .attr("orient", "auto")
  .append("svg:path")
    .attr("d", "M0,-5L10,0L0,5");

    defs.append("svg:marker")
    .attr("id", "pointer4")
    .attr("viewBox", "0 -5 10 10")
    .style("fill","#aaaaaa")
    .attr("refX", 0.2)
    .attr("refY", 0)
    .attr("markerWidth", 1)
    .attr("markerHeight", 3)
    .attr("orient", "auto")
  .append("svg:path")
    .attr("d", "M0,-5L10,0L0,5");

    defs.append("svg:marker")
    .attr("id", "pointer5")
    .attr("viewBox", "0 -5 10 10")
    .style("fill",conscolor)
    .attr("refX", 0.2)
    .attr("refY", 0)
    .attr("markerWidth", 1)
    .attr("markerHeight", 3)
    .attr("orient", "auto")
  .append("svg:path")
    .attr("d", "M0,-5L10,0L0,5");

    defs.append("svg:marker")
    .attr("id", "tail")
    .attr("viewBox", "0 -5 10 10")
    .style("fill",excolor)
    .attr("refX", 0.2)
    .attr("refY", 0)
    .attr("markerWidth", 1)
    .attr("markerHeight", 3)
    .attr("orient", "auto")
  .append("svg:path")
    .attr("d", "M0,-5L10,-5L5,0L10,5L0,5");

    gradient = defs
  .append("svg:linearGradient")
    .attr("id", "gradient")
    .attr("x1", "0%")
    .attr("y1", "0%")
    .attr("x2", "0%")
    .attr("y2", "100%")
    .attr("spreadMethod", "pad");

gradient.append("svg:stop")
    .attr("offset", "0%")
    .attr("stop-color", stockcolor)
    .attr("stop-opacity", 1);

gradient.append("svg:stop")
    .attr("offset", "100%")
    .attr("stop-color", "rgb(94, 81, 72)")
    .attr("stop-opacity", 1);

    function computeAllStocks() {
    	stocks=[]

    	nested_data.forEach(function(d,i) {
    		m=d3.max(d.values,function(e){return e.stock})
    		stocks.push({name:d.key,maxstock:m})
    	})

    	totmax = d3.max(stocks, function(f){return f.maxstock})
    	totmin = d3.min(stocks, function(f){return f.maxstock})


    }

    function showLegend() {
    	$(".legend-img").fadeToggle(200);
    }

</script>


    {% endblock %}
