{% extends 'base.html' %}

{% block title %}<h1>About the Reforme Team</h1>{% endblock %}

{% block content %}
<br/>
<h4>People and Organizations</h4>
<p><b>Raphaël Ménard</b>, responsable scientifique, Elioth</p>
<p><b>Maurizio Brocato</b>, responsable institutionnel, Ensa Paris-Malaquais, GSA </p>
<p><b>Paolo Ciuccarelli</b>, DensityDesign Lab</p>
<p><b>Yves Cochet</b> </p>
<p><b>Alain Dervieux</b>, ENSAPB et ENSPV</p>

<br/>

<h4>Useful links</h4>
<p><a href="http://www.densitydesign.org">DensityDesign</a></p>
<p><a href="http://elioth.com">Elioth</a></p>
<p><a href="http://www.paris-malaquais.archi.fr/laboratoire-gsa-28-1.html">Laboratoire GSA</a></p>
<p><a href="http://www.paris-belleville.archi.fr">Paris-Belleville - école national supérieure d'architecture</a></p>

{% endblock %}


